Source: cnijfilter-common
Section: graphics
Priority: optional
Maintainer: Canon Inc. <sup-debian@list.canon.co.jp>
Build-Depends: debhelper (>= 4.0.0), libcupsys2-dev, libxml2-dev, libtiff4-dev
Standards-Version: 3.7.2

Package: cnijfilter-common
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.


Package: cnijfilter-ip3600series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.00)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-ip4600series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.00)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mp630series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.00)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mp540series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.00)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mp240series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.00)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-mp190series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.00)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.

Package: cnijfilter-ip1900series
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}, cnijfilter-common (>= 3.00)
Description: IJ Printer Driver for Linux.
 This IJ Printer Driver provides printing functions for Canon Inkjet
 printers operating under the CUPS (Common UNIX Printing System) environment.
